/*general*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #011b22;
    text-decoration: none;
}

a:hover {
    color: #00b0dc;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;

}